.modelos{
    margin: 50px 0 50px 0;
}
.autos-categorias{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: center;
}
.card-autos{
    flex: 1 250px;
    margin: 2px 5px 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-autos-body{
    flex: 1 1 auto;
    padding: 1.25rem;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
footer{
 background-color: #e9ecef;
}
.footer-box{
    padding-top: 10px;
}
